.paginator {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  align-items: flex-end;
  margin-top: 3rem;

  li {
    button {
      border: solid rgb(128, 128, 10) 1px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.35);
      transition: none;

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  li.active {
    padding: none;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
  }

  .dots {
    color: rgb(128, 128, 10);
    font-size: x-large;
  }
}


/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .paginator{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: flex-end;
    margin-top: 3rem;
    flex-wrap: nowrap;
    margin-left: 1rem;
    width: max-content;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-main-container{
    width: max-content;
  }
}