@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Lexend:wght@300&display=swap');


.home-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; 
}

.image-background {
  height: 60vh;
  background-size: cover;
  position: relative;
  z-index: 0; 
}

.superposed-image {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 30%;
  z-index: 1;
}

.black-background {
  height: 50%;
  background-color: #000;
  z-index: 0; /* Coloca el fondo negro detr치s de todo */
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem; 
}

.down-image {
  width: 350px;
  height: 350px;
}

.about {
  font-family: 'Lexend', sans-serif;

  font-size: 1.25rem;
  color: #f4d002eb;
  max-width: 60%; 
}

.cta-container{
  display: flex;
    justify-content: center;
    padding-bottom: 2rem;

}

.cta-button {
  
  display: inline-block;
  background-color: #FFD700; /* Golden color similar to lightsabers */
  color: #000; /* Black text color */
  padding: 12px 20px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
  padding-bottom: 1rem;
  box-shadow: 0 0 10px transparent;
}

.cta-button:hover {
  background-color: #FFEA00; /* Light golden color on hover to highlight */
  cursor: pointer;
  /* Adjust the box shadow color and size to achieve the glow effect */
  box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.7); /* Yellow glow with 20px spread and 5px blur */
}


/* Estilos para pantallas m치s peque침as */
@media screen and (max-width: 768px) {
  .image-background {
    height: 40vh;
  }

  .superposed-image {
    width: 55%;
    height: 20%;
  }

  .black-background {
    height: 60%;
  }

  .content-container {
    flex-direction: column;
    padding: 1rem;
  }

  .about {
    font-size: 1rem;
    max-width: 100%;
  }

  .down-image {
    width: 200px;
    height: 200px;
  }
}

/* Estilos para pantallas m치s grandes */
@media screen and (min-width: 1024px) {
  .image-background {
    height: 70vh;
  }

  .superposed-image {
    width: 30%;
    height: 25%;
  }

  .black-background {
    height: 40%;
  }

  .content-container {
    padding: 5rem;
  }

  .about {
    font-size: 1.5rem;
  }

  .down-image {
    width: 500px;
    height: 500px;
  }
}
