@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Lexend:wght@300&display=swap');


.home-container {
  /* Ajusta la altura de la pantalla de acuerdo a tus necesidades */
  height: fit-content;
  /* Asegura que los elementos dentro del contenedor ocupen toda la altura */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; /* Para evitar que el contenido se desborde */
}

.image-background {
  /* Asegura que la imagen de fondo ocupe la mitad superior de la pantalla */
  height: 60vh;
  /* Asegura que la imagen se ajuste al contenedor */
  background-size: cover;
  /* Agrega otros estilos deseados para la imagen de fondo */
  position: relative;
  z-index: 0; /* Coloca la imagen de fondo detrás de todo */
}

.superposed-image {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 30%;
  z-index: 1;
}

.black-background {
  // position: absolute;
  /* Asegura que el fondo negro ocupe la mitad inferior de la pantalla */
  height: 50%;
  /* Define el color de fondo negro */
  background-color: #000;
  /* Agrega otros estilos deseados para la mitad inferior */
  z-index: 0; /* Coloca el fondo negro detrás de todo */
}

.content-container {
  /* Alinea los elementos dentro del contenido en una fila */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem; /* Ajusta el espaciado entre el contenido y el fondo negro */
}

.down-image {
  /* Ajusta el tamaño y la posición de la imagen */
  width: 350px;
  height: 350px;
}

.about {
  /* Ajusta el tamaño del texto y el color */
  font-family: 'Lexend', sans-serif;

  font-size: 1.25rem;
  color: #fff;
  max-width: 60%; /* Ajusta el ancho máximo del párrafo para evitar que se extienda demasiado */
}

