@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Lexend:wght@300&display=swap');

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.heading {
  font-family: 'Lexend', sans-serif;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 600px; 
  margin: 0 !important;
}

.card-text{
    text-decoration: none !important;
    color: white !important;
    margin-top: 2rem;
}


.card-image{
    height: 60px;
    width: 60px;
}



.card-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important;
    font-family: 'Lexend', sans-serif;
    background-color: transparent;
  
  }

  .div-effect {
    margin-right: 2rem;
    margin-left: 2rem;


        background-image: linear-gradient(#f4d002eb, #f4d002eb);
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-size: 100% 2px;
        transition: background-size .4s, background-position .2s ease-in .4s;
        padding: 0.5rem;
      }
      
      
      
      .div-effect:hover {
        padding: 0.5rem;
        border-radius: 5px;
        background-size: 100% 100%;
        background-position: 0% 0%;
        transition: background-position .4s, background-size .2s ease-in .4s;
      }
