@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');


// Reset de estilos
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // Normalización de estilos de input
  input {
    font-family: 'Lexend', sans-serif ;
    font-size: 300 !important;
    line-height: inherit;
    color: white;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 30vw;
    transition: border-color 0.2s ease; 
    margin-right: 1rem;
  
    &:focus {
      outline: none;
      border: 2px solid rgb(128, 128, 10);
      color: white;
    }
    
  }
  

 .search-bar-container{

   display: flex;
     justify-content: center;
     margin-top: 3rem;
     border-color: solid rgb(128, 128, 10) 5px;
     font-family: 'Lexend', sans-serif ;
     font-weight: 300 !important;
 } 

