@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');


// Reset de estilos
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // Normalización de estilos de input
  input {
    font-family: 'Chakra Petch', sans-serif;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 30vw;
    transition: border-color 0.2s ease;
  
    &:focus {
      outline: none;
      border: 2px solid rgb(128, 128, 10);
      // border-color: solid rgb(128, 128, 10) 10px;
      // background-color:white ;
      color: white;
    }
    
  }
  

 .search-bar-container{

   display: flex;
     justify-content: center;
     margin-top: 3rem;
     border-color: solid rgb(128, 128, 10) 5px;

 } 

